<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="NorthWindAPI" parallel="false">

  <test name="AddCustomerApiTest">
    <classes>
      <class name="automation.api.AddCustomerApiTest"/>
    </classes>
  </test>


  <test name="AddEmployeesApiTest">
    <classes>
      <class name="automation.api.AddEmployeesApiTest"/>
    </classes>
  </test>

  <test name="GetListCustomerApiTest">
    <classes>
      <class name="automation.api.GetListCustomerApiTest"/>
    </classes>
  </test>

  <test name="GetListEmployeesApiTest">
    <classes>
      <class name="automation.api.GetListEmployeesApiTest"/>
    </classes>
  </test>

  <test name="GetListOrdersApiTest">
    <classes>
      <class name="automation.api.GetListOrdersApiTest"/>
    </classes>
  </test>

  <test name="GetListOderDetailApiTest">
    <classes>
      <class name="automation.api.GetListOderDetailApiTest"/>
    </classes>
  </test>


  <test name="UpdateCustomerApiTest">
    <classes>
      <class name="automation.api.UpdateCustomerApiTest"/>
    </classes>
  </test>

  <test name="UpdateEmployeeApiTest">
    <classes>
      <class name="automation.api.UpdateEmployeeApiTest"/>
    </classes>
  </test>

  <test name="UpdateOrderApiTest">
    <classes>
      <class name="automation.api.UpdateOrderApiTest"/>
    </classes>
  </test>

  <test name="DeleteCustomerApiTest">
    <classes>
      <class name="automation.api.DeleteCustomerApiTest"/>
    </classes>
  </test>

  <test name="DeleteEmployeesApiTest">
    <classes>
      <class name="automation.api.DeleteEmployeesApiTest"/>
    </classes>
  </test>

  <test name="PartiallyCustomerApiTest">
    <classes>
      <class name="automation.api.PartiallyCustomerApiTest"/>
    </classes>
  </test>

  <test name="PartiallyEmployeesApiTest">
    <classes>
      <class name="automation.api.PartiallyEmployeesApiTest"/>
    </classes>
  </test>

  <test name="AddCustomerWithdrawApiTest">
    <classes>
      <class name="automation.api.AddCustomerWithdrawApiTest"/>
    </classes>
  </test>

  <test name="GetCustomerAndBalanceApiTest">
    <classes>
      <class name="automation.api.GetCustomerAndBalanceApiTest"/>
    </classes>
  </test>

</suite>
